<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".AddFile"
            android:exported="true" />
        <activity
            android:name=".AddUrl"
            android:exported="true" />
        <activity
            android:name=".add_resource2"
            android:exported="true" />
        <activity
            android:name=".JoinedChannels"
            android:exported="true" />
        <activity
            android:name=".JoinPage"
            android:exported="true" />
        <activity
            android:name=".addTopic"
            android:exported="true" />
        <activity
            android:name=".addchapter"
            android:exported="true" />
        <activity
            android:name=".HomeScreen"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".register"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".CreateChannel"
            android:exported="true" />
        <activity
            android:name=".website1"
            android:exported="true" />
        <activity
            android:name=".resourcetab"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>